.divContent {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

#pregnant-info {
  border-left: 1px dashed;
}

.details {
  height: 2.5vh;
  width: 100%;
}

h4 {
  color: black;
}

#h2head {
  margin-top: 15px;
  margin-bottom: 0;
}

#treatment {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

#Illness {
  border-left: 1px dashed;
}

#add-illness,
#remove-illness {
  font-size: 13px;
  margin: 10px;
  width: 8vw;
}

.input-illness {
  color: rgba(0, 0, 0, 0.671);
  font-size: 15px;
  line-height: 25px;
  width: 100%;
  min-height: 25px;
  max-height: 150px;
  border-radius: 30px;
  background-color: white;
  border: none;
  margin-bottom: 10px;
  overflow: auto;
  overflow-wrap: break-word;
}

.input-gender {
  color: rgba(0, 0, 0, 0.671);
  font-size: 15px;
  line-height: 25px;
  width: 100%;
  min-height: 25px;
  max-height: 150px;
  border-radius: 30px;
  background-color: white;
  border: none;
  margin-bottom: 10px;
  overflow: auto;
  overflow-wrap: break-word;
}

.buttonsholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#goBackButton {
  position: absolute;
  top: 105px;
  right: 20vw;
  width: 6vw;
}

#logOutButton {
  position: absolute;
  top: 105px;
  right: 27vw;
  width: 6vw;
}

html {
  overflow: auto;
}

body {
  overflow: visible;
  height: fit-content;
}

#psy {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 98%;
  height: fit-content;
  padding-bottom: 2vh;
  border-radius: 15px;
  margin-left: 1vw;
  margin-right: 1vw;
}

#psy-container {
  margin-bottom: 5vh;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5vh;
}

#question-holder {
  height: 4vh;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid;
}

.question-header {
  font-weight: 500;
  font-size: 1vw;
  width: 90%;
  margin: 0;
}

.input-question {
  width: 1vw;
  height: 4vh;
  margin: 0;
}

#upper-container {
  height: 80vh;
}

#add-pageContainer {
  height: fit-content;
  padding-top: 2vh;
}

.self-align {
  margin-top: 0;
}

#treatment-fixed-div {
  height: 90vh;
  width: 92vw;
  position: fixed;
  top: 3%;
  right: 3%;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  background-color: rgb(187, 220, 236);
  z-index: 1;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

#close-treatment {
  position: absolute;
  right: 1%;
  top: 1%;
  width: 3vw;
  z-index: 100;
}

#treatment-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#treat-div {
  width: 100%;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

.textDiv {
  min-height: 8vw;
  font-weight: bold;
}

#chart-holder {
  margin-left: 5vw;
  margin-right: 5vw;
}

#suffers {
  margin: 0;
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 20px;
  color: rgb(141, 17, 17);
}

#warning {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 35%;
  color: rgb(173, 0, 0);
}
