.pageContainer-full-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  padding-top: 20px;
}

#btn-go-back {
  width: 6vw;
  margin-right: 1vw;
}

#logOutButton {
  width: 6vw;
}

#list-header {
  width: 60vw;
}

#listH2 {
  margin: 0;
}

hr.width50 {
  width: 40%;
}

.colors-container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marker {
  width: 15vw;
  text-align: center;
  border-radius: 30px;
  height: 4vh;
  line-height: 4vh;
  font-weight: bold;
  font-size: 1vw;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  transition: 0.5s;
}
.marker:hover {
  transform: translateY(-10px);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.list-container {
  margin-top: 5px;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 60vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.list-headings {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 600;
}

.flex1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex2 {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexDiv {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.flexDiv > div:not(:last-child) {
  border-right: 1px dashed;
}
.flexDiv > div {
  border-bottom: 1px dashed;
}
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 35%;
  width: 25vw;
  height: 30vw;
  background-color: whitesmoke;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 15px;
  z-index: 10;
  padding-bottom: 2vh;
  padding-right: 1vw;
}

#xButton {
  width: 30px;
  line-height: 15px;
  height: 30px;
  box-shadow: none;
  border-radius: 10px;
  align-self: flex-end;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

#overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -10;
  background-color: #00000052;
  z-index: 0;
}
