#mainh1 {
  color: rgb(16, 31, 31);
}

#mainDiv {
  display: flex;
  flex-direction: row;
  animation: transitionInAll 2s;
}

@keyframes transitionInAll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rightDiv {
  width: 35%;
  height: inherit;
}

#leftDiv {
  width: 60%;
  height: inherit;
}

#testbutton {
  background-color: rgb(134, 193, 228);
  border-radius: 15px;
  cursor: pointer;
}

#testbutton:hover {
  background-color: chocolate;
}

#mainPic {
  height: 100%;
}

hr.solid {
  border: 1px solid rgb(0, 0, 0);
  width: 15vw;
  margin-bottom: 40px;
}

input {
  width: 100%;
  line-height: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #bccbe9;
  color: #161e42;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  transform: skew(-10deg);
  border-radius: 5px;
}

button:hover {
  background-color: #d5e3ff;
}

button.active {
  background-color: white;
}
.content {
  display: none;
  padding: 10px 20px;
  padding-top: 2vw;
}

.content.active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 1vw;
  padding-bottom: 2vw;
  transition: 0.5s;
}
